body {
 font-family: Calibri;
 text-align: center;
}

#startScreen{
 height: 600px;
 width: 400px;
 border-style: solid;
 border-width: 5px;
 margin-left: auto;
 margin-right: auto;
}

#gameScreen{
 height: 500px;
 width: 400px;
 border-style: solid;
 border-width: 5px;
 margin-left: auto;
 margin-right: auto;
 display: none;
}

#infoBar{
 height: 90px;
 width: 400px;
 border-style: solid;
 border-width: 5px;
 margin-left: auto;
 margin-right: auto;
 display: none;
}

#countDown{
 position: absolute;
 left: 150px;
}

#pauseButton{
 position: absolute;
 left: 300px;
 display: block;
}

#resumeButton{
 position: absolute;
 left: 300px;
 display: none;
}

#Score{
 position: absolute;
 left: 400px;
}